rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user_id} {
      allow read;
      allow create: if request.auth != null;
      allow update: if get(/databases/$(database)/documents/users/$(user_id)).data.user_id == request.auth.uid
    }
     match /links/{link_id} {
      allow read;
      allow create, update: if request.auth != null;
      allow delete: if request.auth.uid == resource.data.createdBy.id
      
    }
  }
}